<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="2.0.0">
  <Variables>
    <Variable Name="ebml" Value="E:/Steam/steamapps/common/Evil Bank Manager" />
  </Variables>
  <LinkList>
    <Link Type="Default">
      <SourcePath>?ebml?/EvilBankManager_Data/Managed</SourcePath>
      <TargetPath>Dependencies/GameReferences</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>Dependencies/0Harmony.dll</SourcePath>
      <TargetPath>?ebml?/EBML/0Harmony.dll</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>Dependencies/SharpMonoInjector.dll</SourcePath>
      <TargetPath>?ebml?/EBML/SharpMonoInjector.dll</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>Dependencies/smi.exe</SourcePath>
      <TargetPath>?ebml?/EBML/smi.exe</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>Dependencies/Mono.Cecil.dll</SourcePath>
      <TargetPath>?ebml?/EBML/Mono.Cecil.dll</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>ModLoader/EBML_DLL/bin/EBML.dll</SourcePath>
      <TargetPath>?ebml?/EBML/EBML.dll</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>ModLoader/EBML_GUI/bin/Debug/EBML_GUI.exe</SourcePath>
      <TargetPath>?ebml?/EBML_GUI.exe</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>?ebml?/EBML</SourcePath>
      <TargetPath>ModLoader/EBML_GUI/bin/Debug/EBML</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>ExampleMod/bin/ExampleMod.dll</SourcePath>
      <TargetPath>?ebml?/EBML/Mods/ExampleMod.dll</TargetPath>
    </Link>
	<Link Type="Default">
      <SourcePath>ExampleMod/res</SourcePath>
      <TargetPath>?ebml?/EBML/Mods/ExampleMod</TargetPath>
    </Link>
  </LinkList>
</Config>