<?xml version="1.0" encoding="utf-16"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" Version="2.0.0">
  <Variables>
    <Variable Name="ebml" Value="E:/Steam/steamapps/common/Evil Bank Manager" />
  </Variables>
  <LinkList>
    <Link Type="Default">
      <SourcePath>?ebml?/EvilBankManager_Data/Managed</SourcePath>
      <TargetPath>Dependencies/GameReferences</TargetPath>
    </Link>
  </LinkList>
</Config>